/*
  Theme Name: Bespoke - Creative One Page HTML5 Template 
  Theme URL: http://nasfactor.com/themes/bespoke/
  Author: nasirwd
  Author URI: http://nasfactor.com/
  Description: Bespoke - Creative One Page HTML5 Template 
  Version: 1.0
*/
/*=======================================================================
[Table of contents]
=========================================================================
[01] HEADER
[02] SLIDER
[03] ABOUT
[04] TEAM
[05] WHAT WE DO
[06] OUR WORK
[07] CHOOSE US
[08] TESTMONIAL
[09] OUR CLIENT
[10] OUR BLOG
[11] WHAT SAY
[12] CONTACT
[13] FOOTER
[14] SUBSCRIPTION POPUP
[15] BACK TO TOP
[16] HOME TWO
[17] WORK DETAIL
[18] BLOG LIST
[19] BLOG DETAIL
[20] HOME THREE
==========================================================================*/

/*=======================================================================
[01] HEADER
=========================================================================*/
.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 37px 90px 23px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.logo {
    position: relative;
    top: -4px;
}
.logo h1{
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
}
.logo h1 a{
    color: #fff;
}
.logo.logoText {
    left: -3px;
    position: absolute;
    top: -6px;
}
.mainMenu{
    text-align: right;
}
.mainMenu ul{}
.mainMenu ul li{
    display: inline-block;
    margin-right: 30px;
    position: relative;
}
.mainMenu ul li:last-of-type{
    margin-right: 0;
}
.mainMenu ul li a {
    color: #fff;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-size: 14px;
}
.mainMenu ul li.active a,
.mainMenu ul li a:hover{
    color: #fd0060;
}
.mainMenu ul ul.sub-menu{
    position: absolute;
    width: 200px;
    text-align: center;
    left: 0;
    background: #fff;
    top: 60px;
    box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, .08);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mainMenu ul ul.sub-menu:before{
    content: "";
    left: 20px;
    margin: auto;
    position: absolute;
    right: auto;
    top: -4px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
}
.fixedHeader .mainMenu ul ul.sub-menu:before{
    border-bottom: 5px solid #fff;
}
.mainMenu ul li:hover ul.sub-menu{
    visibility: visible;
    opacity: 1;
    top: 56px;
}
.mainMenu ul ul.sub-menu li{
    display: block;
    margin: 0;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0;
}
.mainMenu ul ul.sub-menu li:last-child{
    border-bottom: none;
}
.mainMenu ul ul.sub-menu li a {
    color: #333;
    font-size: 12px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    display: block;
}
.mainMenu ul li:hover > a{
    color: #fd0060 !important;
}
.callus{
    text-align: right;
}
.callus p{
    margin-bottom: 0;
    color: #fff;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-size: 14px;
}
.isSticky.fixedHeader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background: #fcfcfc;
    z-index: 1009;
    padding: 25px 90px 18px;
    box-shadow: 0 -2px 19px 0px #dadada;
}
.isSticky.fixedHeader .logo{
    top: 0;
}
.isSticky.fixedHeader .mainMenu ul li a,
.isSticky.fixedHeader .callus p{
    color: #333;
    font-weight: 600;
}
.isSticky.fixedHeader .mainMenu ul li.active a,
.isSticky.fixedHeader .mainMenu ul li a:hover{
    color: #fd0060;
}
.isSticky.fixedHeader .logo{
    display: none;
}
.stickyLogo{
    position: absolute;
    display: none;
}
.isSticky.fixedHeader .stickyLogo{
    display: block;
}
.isSticky.fixedHeader .logo h1 a{
    color: #fd0060;
}

.fixedHeader .mainMenu ul ul.sub-menu::before{
    border-bottom: 5px solid #fd0060;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/*=======================================================================
[02] SLIDER
=========================================================================*/
.slider{
    background: #020605;
}
.slider .slotholder::after {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.revCon h5{
    font-weight: 700;
}
.tp-banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
}
.slider .tp-bannertimer{
    display: none;
}
.slider .tp-bullets.simplebullets.hidebullets,
.slider .tp-bullets{
    display: block !important;
    opacity: 1 !important;
    left: 76px !important;
    margin-left: 0 !important;
}
.slider .tp-bullets.simplebullets .bullet {
    margin-right: 5px;
    font-size: 14px;
    color: #999999;
    font-weight: 900;
}
.slider .tp-bullets.simplebullets.round .bullet:hover, 
.slider .tp-bullets.simplebullets.round .bullet.selected, 
.slider .tp-bullets.simplebullets.navbar .bullet:hover, 
.slider .tp-bullets.simplebullets.navbar .bullet.selected {
    color: #fff;
}
#slider_count {
    color: #fff;
    font-weight: 700;
}
#slider_count span{
    background: #f80160;
    width: 42px;
    height: 2px;
}
.mouseSlider {
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    height: 58px;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    text-align: center;
    top: -98px;
    width: 58px;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mouseSlider a{
    display: block;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
}
.mouseSlider:hover{
    border-color: #fd0060;
}
.mouseSlider a.hover{
    visibility: hidden;
    opacity: 0;
}
.mouseSlider:hover a.normal{
    visibility: hidden;
    opacity: 0;
}
.mouseSlider:hover a.hover{
    visibility: visible;
    opacity: 1;
}

.mouseSlider2 {
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    height: 58px;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    text-align: center;
    top: auto;
    width: 58px;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mouseSlider2 a{
    display: block;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
}
.mouseSlider2:hover{
    border-color: #fd0060;
}
.mouseSlider2 a.hover{
    visibility: hidden;
    opacity: 0;
}
.mouseSlider2:hover a.normal{
    visibility: hidden;
    opacity: 0;
}
.mouseSlider2:hover a.hover{
    visibility: visible;
    opacity: 1;
}
/*=======================================================================
[03] ABOUT
=========================================================================*/
.about{
    padding-bottom: 86px;
}
.aboutTop{
    padding-top: 163px;
    padding-bottom: 230px;
    background: #1d1d1d url(../images/bg/1.jpg) no-repeat scroll center center/cover;
}
.aboutBottom{
    background: #c40661;
    background: -moz-linear-gradient(0deg, #36146a 0%, #9A0A65 50%, #ff0060 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #36146a), color-stop(50%, #9A0A65), color-stop(100%, #ff0060));
    background: -webkit-linear-gradient(0deg, #36146a 0%, #9A0A65 50%, #ff0060 100%);
    background: -o-linear-gradient(0deg, #36146a 0%, #9A0A65 50%, #ff0060 100%); 
    background: -ms-linear-gradient(0deg, #36146a 0%, #9A0A65 50%, #ff0060 100%); 
    background: linear-gradient(90deg, #36146a 0%, #9A0A65 50%, #ff0060 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36146a', endColorstr='#ff0060',GradientType=1 ); 
}
.abcontentT{
    text-align: center;
}
.abcontentT h5 {
    margin-bottom: 33px;
}
.abBigtitle{
    position: relative;
}
.abBigtitle h1.lead{
    position: absolute;
    top: -118px;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(359deg, #ff00de 0%, #FF696F 50%, #ffd200 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff00de), color-stop(50%, #FF696F), color-stop(100%, #ffd200));
    background: -webkit-linear-gradient(359deg, #ff00de 0%, #FF696F 50%, #ffd200 100%); 
    background: -o-linear-gradient(359deg, #ff00de 0%, #FF696F 50%, #ffd200 100%);
    background: -ms-linear-gradient(359deg, #ff00de 0%, #FF696F 50%, #ffd200 100%);
    background: linear-gradient(91deg, #ff00de 0%, #FF696F 50%, #ffd200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00de', endColorstr='#ffd200',GradientType=1 ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 13px 16px 27px rgba(0, 0, 0, .11);
    font-size: 159px;
    text-align: center;
    z-index: 1;
}
.aboutBottom{
    padding-top: 124px;
    padding-bottom: 228px;
}
.abcontentB{
    padding: 0 100px;
}
.abcontentB h5{
    margin-bottom: 12px;
}
.ourServices {
    margin-top: -110px;
}
.singleService {
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
    margin-left: 7px;
    margin-right: 7px;
    padding: 0 15px 67px;
    text-align: center;
    margin-bottom: 73px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.singleService:hover{
    margin-top: -40px;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, .1)
}
.serImg {
    height: 187px;
    margin: auto;
    position: relative;
    top: -42px;
    width: 187px;
    background: transparent;
    border-radius: 50%;
}
.serImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.singleService h6.lead {
    line-height: 0.7;
    margin: 0 0 67px;
    color: #000;
}
.singleService p{
    font-weight: 300;
    font-size: 20px;
}
.singleService p:last-of-type{
    margin-bottom: 32px;
}
.singleService a.learn{
    font-size: 15px;
    line-height: .8;
    color: #999999;
    text-transform: uppercase;
    font-weight: 600;
}
.singleService a.learn:hover{
    color: #fd0060;
}

/*=======================================================================
[04] TEAM
=========================================================================*/
.team{
    padding-bottom: 89px;
}
.epr200{
    padding-right: 400px;
}
.teamBig img{
    width: 100%;
}
.singleTestm p{
    font-size: 40px;
    color: #000000;
    font-weight: 300;
    line-height: 50px;
    margin-bottom:21px;
}
.teamDeg h4.magenta{
    color: #fd0060;
}
.teamTop{
    margin-bottom: 133px;
}
.testmonial {
    margin-left: 120px;
    margin-top: 150px;
    position: relative;
}
.testmonial::before {
    background: #fd0060;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 200px;
    left: -224px;
    top: 23px;
}
.testmonial::after {
    content: "\f104";
    font-family: "Flaticon";
    left: -50px;
    position: absolute;
    top: -17px;
    font-size: 27px;
    color: #fd0060;
}
.singleTeam{
    text-align: center;
}
.singleTeam img{
    width: 100%;
    height: auto;
    margin-bottom: 21px;
}
.teamDeg{}
.teamDeg h4{
    color: #000;
    margin: 0 0 4px;
}
.teamDeg p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: .8;
    margin: 0;
}

/*=======================================================================
[05] WHAT WE DO
=========================================================================*/
.whatwe{
    background: url(../images/bg/2.jpg) no-repeat scroll center center/cover;
    padding-top: 253px;
    padding-bottom: 223px;
}
.wedoContent{}
.wedoContent h5 {
    margin-bottom: 39px;
}
.wedoContent h2{
    margin-bottom: 29px;
}

/*=======================================================================
[06] OUR WORK
=========================================================================*/
.ourwork{
    padding-top: 146px;
}
.singleWorkContent{
    text-align: center;
    position: absolute;
    top: 49.5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
}
.singleWorkContent h6{
    margin-bottom: 30px;
}
.singleWorkContent h2{
    margin-bottom: 18px;
}
.workTag{
    line-height: 1.5;
    margin-bottom: 41px;
}
.workTag a{
    margin-left: 2px;
    margin-right: 10px;
}
.workTag a,
.workTag{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    color: #ffffff;
    font-weight: 700;
}
.workTag a:hover{
    color: #fd0060;
}
.work_btn {
    background: #000000;
    border-radius: 30px;
    color: #fff;
    height: 50px;
    padding: 0 29px;
    line-height: 50px;
    display: inline-block;
    font-size: 21px;
    font-weight: 400;
}
.work_btn:hover{
    background: #D90361;
    color: #fff;
}
.singleWork{
    margin: 0 20px;
}
.singleWork img{
    width: 100%;
    height: auto;
}
.singleWork.slick-active.slick-center .singleWorkContent{
    visibility: visible;
    opacity: 1;
}
.singleWork.slick-active.slick-center{
    position: relative;
}
.singleWork.slick-active.slick-center:before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    content: '';
}
#workCarousel .slick-prev, 
#workCarousel .slick-next {
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 60px;
    z-index: 9;
    text-align: center;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#workCarousel .slick-prev:hover, 
#workCarousel .slick-next:hover{
    background: #fd0060;
}
#workCarousel .slick-prev i, 
#workCarousel .slick-next i{
    line-height: 60px;
    font-size: 28px;
    color: #fff;
}
#workCarousel .slick-prev i{
    left: -1px;
    position: relative;
}
#workCarousel .slick-prev{
    left: 157px;
}
#workCarousel .slick-next{
    right: 157px;
}
.singleWorkContent{}
.singleWorkContent h2 {
    color: #fff;
    font-weight: 600 !important;
    margin-bottom: 14px;
    line-height: 70px !important;
    margin-bottom: 31px;
}

/*=======================================================================
[07] CHOOSE US
=========================================================================*/
.chooseus{
    padding-top: 149px;
    padding-bottom: 126px;
}
.chooseUsContent {
    padding-right: 70px;
}
.chooseUsContent h3 {
    margin-bottom: 40px;
}
/*.chooseUsContent p{
    line-height: 40px;
}*/
.chooseUsContent p:last-of-type{
    margin-bottom: 7px;
}
.signatureandname{
    overflow: hidden;
}
.signatureandname h4 {
    color: #fd0060;
    float: left;
    font-weight: 700;
    margin: 22px 0 0;
}
.signatureandname img{
    width: 182px;
    height: 106px;
    float: left;
}
.chooseUsImg {
    margin-top: -67px;
}

/*=======================================================================
[08] TESTMONIAL
=========================================================================*/
.testmonialSec{
    background: url(../images/bg/3.jpg) no-repeat fixed center center/cover;
    margin-bottom: 123px;
}
#testmonialCaro{
    background: #333 url(../images/bg/4.jpg) no-repeat scroll center center/cover;
    width: 900px;
    margin: auto;
    padding: 153px 127px 29px;
    position: relative;
    top: 121px;
}
.singleTestmn p{
    font-size: 30px;
    color: #ffffff;
    line-height: 50px;
    font-weight: 300;
}
.singleTestmn p:last-of-type{
    margin-bottom: 31px;
}
.testAut h4{
    color: #fd0060;
    margin: 0 0 3px;
}
.testAut p{
    font-size: 16px;
    line-height: .8;
    margin: 0;
    font-weight: 300;
}
#testmonialCaro::before {
    color: #fff;
    content: "\f104";
    font-family: "Flaticon";
    font-size: 72px;
    height: 67px;
    left: 6px;
    margin: auto;
    position: absolute;
    right: 0;
    top: -18px;
    width: 76px;
}
#testmonialCaro.owl-theme .owl-dots {
    bottom: -1px;
    position: relative;
    right: -87px;
    text-align: right;
}
#testmonialCaro.owl-theme .owl-dots .owl-dot{
    width: 10px;
    height: 10px;
    margin: 0 5px;
}
#testmonialCaro.owl-theme .owl-dots .owl-dot span,
#testmonialCaro.owl-theme .owl-dots .owl-dot:hover span {
    background: #343434;
    border-radius: 30px;
    display: block;
    height: 6px;
    margin: 0;
    width: 6px;
    opacity: 1;
}
#testmonialCaro.owl-theme .owl-dots .owl-dot.active span{
    background: #fd0060;
    height: 10px;
    width: 10px;
    top: -2px;
    position: relative;
    left: -2px;
}

/*=======================================================================
[09] OUR CLIENT
=========================================================================*/
.client{
    padding-top: 149px;
    padding-bottom: 90px;
}
.singleClient{}
.singleClient{
    width: 230px;
    height: 130px;
    margin: auto;
    margin-bottom: 55px;
}
.singleClient a{
    display: block;
}
.singleClient img{
    width: 100%;
    height: auto;
    opacity: .7;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.singleClient img:hover{
    opacity: 1; 
}
/*=======================================================================
[10] OUR BLOG
=========================================================================*/
.blogSection{
    background: url(../images/bg/5.jpg) no-repeat fixed center center/cover;
    padding: 123px 0 140px;
}
.singleBlog{
    background: #fff;
    margin: 0 7.5px;
}
.blogDec{
    padding: 61px 30px 45px 41px;   
}
.blogDate{
    color: #fd0060;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 20px;
}
.blogThumb img{
    width: 100%;
    height: auto;
}
.blogTitle{
    margin-bottom: 28px;
    min-height: 108px;
}
.bperaDiv {
    min-height: 182px;
}
.blogTitle a{
    font-size: 26px;
    color: #000000;
}
.blogTitle a:hover{
    color: #fd0060;
}
.blogDec p:last-of-type{
    margin-bottom: 39px;
}
.blogBott{
    overflow: hidden;
}
.bauthor{
    float: left;
}
.blogComs{
    float: right;
    font-size: 12px;
    color: #999999;
    line-height: .8;
}
.blogComs img{
    margin-right: 9px;
}
.blogComs a:hover{
    color: #fd0060;
}
.bauthor,
.bauthor a{
    font-size: 12px;
    color: #fd0060;
    line-height: 2;
}
.bauthor a{
    margin-left: 3px;
}

/*=======================================================================
[11] WHAT SAY
=========================================================================*/
.sayhello{
    padding: 100px 0 52px;
}
.sayThumb{
    position: relative;
    margin-bottom: 48px;
}
.sayThumb h3{
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    font-weight: 700;
    letter-spacing: 4.8px;
}
.sayThumb img{
    width: 100%;
    height: auto;
}
.saypaddingR{
    padding-right: 60px;
}
.saypaddingl{
    padding-left: 60px;
}
.sayDec h6{
    letter-spacing: 2.8px;
    margin: 0 0 10px;
}
.sayDec p {
    letter-spacing: 2.8px;
    margin: 0 0 17px;
    text-transform: uppercase;
    line-height: .8;
}
.sayDec p:last-of-type{
    margin-bottom: 70px;
}

/*=======================================================================
[12] CONTACT
=========================================================================*/
.contact{
    background: #1d1d1d;
    padding:81px 0 67px;
}
.contactInner h3 {
    margin-bottom: 70px;
}
.contactForm{
    text-align: left;
    padding: 0px 212px;
}
.single_form {
    margin-bottom: 22px;
    margin-right: 10px;
    margin-left: 10px;
}
.single_form input[type='text'],
.single_form input[type='email'],
.single_form textarea{
    width: 100%;
    background: transparent;
    height: 41px;
    border: none;
    border-bottom: 2px solid #292929;
    font-size: 14px;
}
.single_form textarea{
    resize: none;
    height: 143px;
    margin-bottom: 20px;
}
.single_form label{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: .8;
    color: #fff;
    cursor: pointer;
}
.contactForm input[type='submit']{
    border: transparent;
}

.single_form input.reqError,
.single_form textarea.reqError{
    border-color: #fd0060;
}

/*=======================================================================
[13] FOOTER
=========================================================================*/
.footer{
    padding: 72px 75px 55px;
}
.textWidget{
    padding-right: 300px;
}
.widgetTitle{
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 20px;
}
.widgetTitle b{
    font-weight: 600;
}
.flogo{
    width: 133px;
    margin-bottom: 49px;
}
.flogo img{
    width: 100%;
    height: auto;
}
.textWidget p{
    font-size: 16px;
    line-height: 36px;
    font-weight: 300;
}
.textWidget p:last-of-type{
    margin-bottom: 39px;
}
.socialIcon a{
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 42px;
    margin-right: 11px;
}
.socialIcon a:hover{
    background: #fd0060;
    color: #fff;
}
.socialIcon a.fb:hover{
    background: #3A559F;
}
.socialIcon a.tw:hover{
    background: #50ABF1
}
.socialIcon a.gp:hover{
    background: #DD4B39
}
.socialIcon a.dr:hover{
    background: #CF3F72
}
.socialIcon a.be:hover{
    background: #0071B9
}
.newsletterwid {
    padding-top: 85px;
    padding-left: 40px;
}
.newsletter{
    position: relative;
    margin-bottom: 27px;
    padding-top:5px;
}
.newsletter input[type='email']{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    font-size: 18px;
    color: #a89f9f;
    font-weight: 300;
}
.newsletter input[type='email']:input-placeholder{
    color: #a89f9f;
    opacity: 1;
}
.newsletter input[type='email']::-webkit-input-placeholder {
    color: #a89f9f;
    opacity: 1;
}
.newsletter input[type='email']:-moz-placeholder {
    color: #a89f9f;
    opacity: 1;
}
.newsletter input[type='email']::-moz-placeholder {
    color: #a89f9f;
    opacity: 1;
}
.newsletter input[type='email']:-ms-input-placeholder {
    color: #a89f9f;
    opacity: 1;
}
.newsletter input[type='submit']{
    position: absolute;
    right: -5px;
    background: transparent;
    font-size: 14px;
    color: #fe0060;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    line-height: .8;
    top: 15px;
}
.fooInfo p{
    font-size: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 38px;
    font-weight: 300;
    margin-left: 2px;
}
.fooInfo p:last-of-type{
    margin-right: 0;
    margin-left: 0;
}
.fooInfo p i{
    font-size: 16px;
    margin-right: 11px;
    position: relative;
    top: 1px;
}
.fooInfo p b{
    color: #000;
    font-weight: 700;
}
.copyright{
    background: #fff;
}
.copyPera{
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

/*=======================================================================
[14] SUBSCRIPTION POPUP
=========================================================================*/
.subscriptionSuccess, 
.contactSuccess{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1500;
    background: rgba(0, 0, 0, .95);
    display: none;
}
.subsNotice, 
.consNotice{
    width: 100%;
    height: 190px;
    background: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
.subsNotice i,
.consNotice i{
    background: #fff;
    border-radius: 50%;
    color: #fd0060;
    font-size: 60px;
    height: 109px;
    text-align: center;
    width: 110px;
    padding: 27px 0;
}
.subsNotice p, 
.consNotice p{
    color: #fff;
    font-size: 30px;
    margin: 40px 0 0;
    text-transform: capitalize;
    line-height: 40px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
}


/*=======================================================================
[15] BACK TO TOP
=========================================================================*/
.showit {
    background: #fd0060;
    bottom: 60px;
    color: #ffffff;
    font-size: 20px;
    height: 40px;
    line-height: 0.8;
    padding: 10px 12px;
    position: fixed;
    right: 60px;
    text-align: center;
    width: 40px;
    z-index: 99;
}
.showit i {
    color: #ffffff;
}
.showit:hover {
    background: #333333;
    color: #ffffff;
}

/*=======================================================================
[16] HOME TWO
=========================================================================*/
.header2{
    background: #1d1d1d;
    padding: 21px 90px 21px;
}
.header2 .logo{
    top: 0;
}
.header2.isSticky.fixedHeader{
    padding: 21px 90px 21px;
}
.aboutBottom.home_page2{
    background: url(../images/bg/6.jpg) no-repeat scroll center center/cover;
    position: relative;
}
.aboutTop.home_page2 {
    background: url("../images/bg/7.jpg") no-repeat scroll center center / cover ;
}
.whatwe.home_page2{
    background: url("../images/bg/8.jpg") no-repeat scroll center center / cover ;
}
.overlayHover{
    background: rgba(38, 38, 38, 0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.single_folio:hover .overlayHover{
    visibility: visible;
    opacity: 1;
}
.polioThumb img{
    width: 100%;
    height: auto;
}
.folio_hover2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    padding-bottom: 30px;
    padding-left: 30px;
    z-index: 1;
}
.folio_hover2 h6{
    margin-bottom: 19px;
}
.folio_hover2 h3{
    margin-bottom: 12px;
}
.folio_hover2 .workTag{
    margin-bottom: 28px;
}
.folio_hover2 h6,
.folio_hover2 a.work_btn,
.folio_hover2 h3,
.folio_hover2 .workTag{
    transform: translate3d(0, 60px, 0);
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
}
.folio_hover2 h6{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.folio_hover2 h3{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.folio_hover2 .workTag{
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}
.folio_hover2 a.work_btn{
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.folio_hover2 h6,
.folio_hover2 a.work_btn{
    visibility: hidden;
    opacity: 0;
}
.single_folio{
    overflow: hidden;
}
.single_folio:hover .folio_hover2 h6,
.single_folio:hover .folio_hover2 a.work_btn,
.single_folio:hover .folio_hover2 h3,
.single_folio:hover .folio_hover2 .workTag{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.polioThumb img{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.single_folio:hover .polioThumb img{
    transform: scale(1.08) rotate(-2deg);
    -moz-transform: scale(1.08) rotate(-2deg);
    -o-transform: scale(1.08) rotate(-2deg);
    -ms-transform: scale(1.08) rotate(-2deg);
    -webkit-transform: scale(1.08) rotate(-2deg);
}
.testmonialSec.home_page2{
    background: url("../images/bg/9.jpg") no-repeat fixed center 0 / cover;
    position: relative;
}
#testmonialCaro.home_page2::before{
    color: #fd0060;
}
.blogSection.home_page2{
    background: url("../images/bg/10.jpg") no-repeat scroll center center / cover;
}
.contact.home_page2{
    background: #fff;
    border-top: 1px solid #f3f3f3;
}
.single_form.home_page2 label{
    color: #333;
}
.chooseus.home_page2{
    position: relative;
    padding-top: 180px;
}
.client.home_page2 {
    /*    background: url("../images/bg/12.jpg") no-repeat scroll center -121px / cover ;*/
    position: relative;
}
.about.about2{
    position: relative;
}
.perelaxBg1 {
    background: rgba(0, 0, 0, 0) url("../images/bg/p1.png") no-repeat center 0 ;
    left: 0;
    position: absolute;
    right: 0;
    height: 593px;
    top: 0;
    margin: auto;
    width: auto;
}
.perelaxBg2 {
    background: rgba(0, 0, 0, 0) url("../images/bg/p2.png") no-repeat center 0 ;
    left: 0;
    position: absolute;
    right: 0;
    height: 593px;
    top: 0;
    margin: auto;
    width: auto;
}
.perelaxBg3 {
    background: rgba(0, 0, 0, 0) url("../images/bg/p3.png") no-repeat center 0 ;
    left: 0;
    position: absolute;
    right: 0;
    height: 1127px;
    top: 0;
    margin: auto;
    width: auto;
}
.perelaxBg4 {
    background: rgba(0, 0, 0, 0) url("../images/bg/p4.png") no-repeat scroll center 0;
    height: 170px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -90px;
    width: auto;
}
.perelaxBg5 {
    background: rgba(0, 0, 0, 0) url("../images/bg/p5.png") no-repeat scroll center 0;
    height: 486px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -132px;
    width: auto;
}

#slider_count{
    display: none;
}
.slider2 .tparrows.default.round{
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
    font-size: 25px;
}
.slider2 .tp-leftarrow.default.round{
    position: relative;
}
.slider2 .tp-leftarrow.default.round:before{
    position: absolute;
    content: '\f103';
    font-family: "Flaticon";
    color: #fff;
    left: 40px;
    top: 21px;
    transform: rotate(-180deg);
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
}
.slider2 .tp-rightarrow.default.round:after{
    position: absolute;
    content: '\f103';
    font-family: "Flaticon";
    color: #fff;
    top: 21px;
    right: 40px;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
}
.slider2 .tp-leftarrow.default:hover.round:before,
.slider2 .tp-rightarrow.default:hover.round:after{
    color: #fb0060;
}
.slider2 .tparrows.default.round.hidearrows, 
.slider2 .tp-bullets.simplebullets.hidebullets {
    display: block !important;
    opacity: 1 !important;
}

.abBigtitle.home_page2 h1{
    text-shadow: none;
}

/*=======================================================================
[17] WORK DETAIL
=========================================================================*/
.header.workDetail {
    padding: 21px 90px 31px;
    position: relative;
}
.header.workDetail .mainMenu ul li a,
.header.workDetail .callus p{
    color: #000;
}
.workDetailHead {
    padding: 118px 0 94px;
}
.wdhContent {
    padding-bottom: 9px;
}
.wdhContent h6 {
    color: #fa0060;
    font-weight: 600;
    margin-bottom: 11px;
    text-transform: uppercase;
}
.wdhContent h3{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 70px;
}
.wdhContent h6 a{
    color: #fa0060;
}
.wdhContent h6 a:hover{
    color: #000;
}
.workMetas{
    border-top: 1px solid #e6e6e6;
    padding-top: 40px;
}
.workMeta{}
.workMeta.servic{
    padding-left: 15px;
}
.workMeta h6{
    font-size: 14px;
    line-height: .9;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 6px;
}
.workMeta p{
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 100;
}
.wdFeactureImage img{
    width: 100%;
    height: auto;
}
.featcureImage{
    margin-bottom: 111px;
}
.workContentSec{
    padding-bottom: 100px;
}
.wdContent{
    padding: 0 170px;
}
.wdContent h5{
    text-transform: uppercase;
    color: #fd0060;
    margin-bottom: 21px;
}
.wdContent p{
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
}
.rewdContent {
    padding: 230px 173px 0;
    text-align: center;
}
.rewdContent h5{
    text-transform: uppercase;
    font-weight: 600;
    color: #fd0060;
    margin-bottom: 40px;
}
.rewdContent p{
    font-size: 24px;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 300;
}
.shareTheProject{
    text-align: center;
    padding: 75px 0 96px;
}
.shareTheProject h6{
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 23px;
}
.shareSocial a{
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    color: #000000;
    display: inline-flex;
    height: 62px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    line-height: 1;
    margin-right: 5px;
    text-align: center;
    width: 62px;
    font-size: 19px;
}
.shareSocial a.fb:hover{
    color: #3A559F;
    border-color: #3A559F;
}
.shareSocial a.tw:hover{
    color: #50ABF1;
    border-color: #50ABF1;
}
.shareSocial a.pi:hover{
    color: #C9353D;
    border-color: #C9353D;
}
.relatedWorlSec{
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 52px;
}
.nexprevPagination{
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 65px;
}
.paginationnp{
    padding-left: 229px;
    position: relative;
    min-height: 120px;
    text-align: left;
    padding-top: 20px;
}
.paginationnp img{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 120px;
}
.paginationnp.right{
    padding-left: 0;
    padding-right: 229px;
    text-align: right;
    border-left: 1px solid #e9e9e9;
}
.paginationnp.right img{
    left: auto;
    top: 0;
    right: 0;
}
.paginationnp h6 {
    line-height: 0.8;
    margin: 0 0 14px;
}
.paginationnp h6 a{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4.8px;
}
.paginationnp h6 a:hover{
    color: #fe0060;
}
.paginationnp h1{
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0;
}
.workDetail.isSticky.fixedHeader{
    position: fixed;
    padding: 21px 90px;
}

/*=======================================================================
[18] BLOG LIST
=========================================================================*/
.blogTitleSec {
    padding-bottom: 50px;
    padding-top: 88px;
}
.blogTitleList h2 {
    font-size: 140px;
    line-height: 160px;
    margin: 0;
    font-weight: 600;
}
.blogCat {
    position: relative;
    top: 63px;
    width: 185px;
}
.blogCat h6{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    padding: 20px 16px;
    height: 50px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    width: 186px;
    position: relative;
    color: #000;
    font-weight: 600;
    line-height: .8;
    cursor: pointer;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.blogCat.active h6{
    background: #000;
    color: #fff;
    border-color: #000;
}
.blogCat h6 i{
    position: absolute;
    right: 18px;
    top: 18px;
}
.blogCat ul {
    border: 1px solid #c3c3c3;
    position: absolute;
    width: 186px;
    border-radius: 3px;
    border-radius: 0 0 3px 3px;
    display: none;
    top: 49px;
    z-index: 9;
    background: #fff;
}
.blogCat.active ul{
    display: block;
}
.blogCat ul li{
    border-bottom: 1px solid #cccccc;
}
.blogCat ul li:last-of-type{
    border-bottom: none;
}
.blogCat ul li a {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5;
    padding: 14px 10px 14px 26px;
}
.blogCat ul li a:hover{
    color: #fd0060;
}
.blogContents{
    background: #f3f3f3;
    padding: 22px 0 68px;
}
.singleBlog2{
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}
.singleBlog2.bigpost .blogTitle{
    min-height: 0;
}
.singleBlog2.bigpost .blogTitle{
    font-weight: 600;
}
.singleBlog2.bigpost .blogTitle a{
    font-size: 46px;
    line-height: 60px;
}
.singleBlog2.bigpost .bperaDiv{
    min-height: 0;
}
.blogLoadmore{
    margin-top: 65px;
}
.singleBlog2.bigpost .blogDec{
    padding: 61px 45px 45px 41px;
}

/*=======================================================================
[19] BLOG DETAIL
=========================================================================*/
.blogDetailsSec{
    background: url(../images/bg/11.jpg) no-repeat scroll center center/cover;
    position: relative;
    height: 80vh;
}
.blogDetailsSec:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0, .30);
}
.BdContent {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.BdContent h6 {
    color: #fa0060;
    font-weight: 600;
    margin-bottom: 11px;
    text-transform: uppercase;
}
.BdContent h6 a{
    color: #fa0060; 
}
.BdContent h6 a:hover{
    color: #fff;
}
.BdContent h3{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 70px;
    color: #fff;
}
.singleJournal_meta a.jon_date{
    color: #000;
    margin-right: 13px;
    font-weight: 600;
}
.singleJournal_meta a.jon_date:hover{
    color: #fd0060;
}
.singleJournal_meta{
    line-height: .8;
    padding: 10px 0;
}
.singleJournal_meta a{
    font-size: 14px;
    color: #fd0060;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-weight: 500;
}
.singleJournal_meta a:hover{
    color: #000;
}
.jon_comment{
    width: 31px;
    height: 24px;
    background: #fd0060;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: .8;
    padding: 7px 0;
    float: right;
    top: 5px;
    position: relative;
    font-weight: 600;
}
.jon_comment:hover{
    background: #333;
    color: #fff;
}
.jon_comment:hover:before{
    border-color: #333 transparent transparent;
}
.jon_comment::before {
    border-color: #fd0060 transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0 0;
    bottom: -8px;
    content: "";
    height: 0;
    left: 8px;
    position: absolute;
    width: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.journal_wrap {
    border-bottom: 1px solid #f3f3f3;
    margin: 0 0 65px;
    padding: 34px 0 27px;
}
.blogDescriptionTop{
    margin-bottom: 26px;
}
.journal_content h2{
    font-size: 50px;
    line-height: 65px;
    color: #000;
    font-weight: 400;
    margin-bottom: 70px;
}
.journalImg{
    margin-right: 20px;
    overflow: hidden;
}
.journalImg img{
    width: 100%;
    height: auto;
}
.journal_contentWrap{
    margin-bottom: 91px;
}
.journal_content p{
    font-size: 18px;
    line-height: 36px;
    font-weight: 100;
    margin-bottom: 35px;
}
.relatedTitle{
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 35px;
}
.relatedProduct{
    margin-top: 5px;
}
.journalImgRela{
    margin-right: 20px;
    margin-bottom: 23px;
}
.journalImgRela img{
    width: 100%;
    height: auto;
}
.journalmeta.relatedMeta{
    margin-bottom: 19px;
}
.journalmeta a.jnalDate {
    border-bottom: 2px solid #fd0060;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    margin-right: 17px;
    padding-bottom: 14px;
    text-transform: uppercase;
}
.journalmeta a:hover,
.authorName a:hover{
    color: #fd0060;
}
.journal_content{
    padding-bottom: 67px;
}
.j_contentRel h3{
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 13px;
}
.j_contentRel h3 a:hover{
    color: #fd0060
}
.authorName {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 0.8;
}
.commentTitle{
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.socialShare {
    position: relative;
    top: -9px;
}
.socialShare span{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    color: #000;
    margin-right: 10px;
}
.socialShare a {
    border: 1px solid #eaeaea;
    border-radius: 50%;
    color: #b2b2b2;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 0.7;
    padding: 10px 0;
    text-align: center;
    width: 35px;
    margin-right: 0;
}
.socialShare a i.fa-google-plus{
    position: relative;
    left: 2px;
    top: -1px;
}
.socialShare a.fb:hover{
    border-color: #38559B;
    color: #38559B;
}
.socialShare a.tw:hover{
    border-color: #01B1FD;
    color: #01B1FD;
}
.socialShare a.gp:hover{
    border-color: #E4492A;
    color: #E4492A;
}
.commentList {
    margin-bottom: 61px;
}
.singleCom{
    padding-left: 130px;
    position: relative;
}
.singleCom img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.comHead{
    margin-bottom: 21px;
}
.comDate{
    font-size: 12px;
    color: #fd0060;
    line-height: .8;
}
.comAutReply {
    line-height: 0.8;
    position: relative;
    top: -7px;
}
.comAutReply a {
    color: #000000;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 2.6px;
    line-height: 0.9;
    margin-right: 41px;
    text-transform: uppercase;
}
.comAutReply a:hover{
    color: #fd0060;
}
.comAutReply a.reply{
    color: #fd0060;
    position: relative;
}
.comAutReply a.reply:hover,
.comDate:hover{
    color: #000;
}
.comAutReply a.reply::before {
    background: #cccccc;
    content: "";
    height: 1px;
    left: -24px;
    position: absolute;
    top: 5px;
    width: 15px;
}
.commentList ol li div.singleCom{
    padding-top: 15px;
}
.commentList ol > li{
    min-height: 180px;
    padding-bottom: 1px;
    position: relative;
    margin-bottom: 35px;
}
.commentList ol > li:after{
    width: 100px;
    height: 1px;
    background: #e5e5e5;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.commentList ol > li:last-child:after{
    width: 100%;
}
.commentList ol > li:last-child {
    margin-top: 45px;
}
.singleCom > p{
    font-size: 16px;
    color: #666666;
    line-height: 36px;
}
.commentList ol li ul.ChildCom{
    padding-left: 140px;
    margin-bottom: 60px;
}
.commentList ol li ul.ChildCom li{
    position: relative;
}
.commentList ol li ul.ChildCom li:before{
    position: absolute;
    left: -10px;
    width: 10px;
    height: 180px;
    background: #f2f2f2;
    content: '';
}
.commentList ol li ul.ChildCom li .singleCom{
    margin-left: 20px;
}
.commentList ol li > .singleCom{
    position: relative;
}
.comReplyTitle{
    margin-bottom: 46px;
}
.commentForm input[type="text"], 
.commentForm input[type="email"], 
.commentForm textarea {
    border-color: -moz-use-text-color -moz-use-text-color #000;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: #818181;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.96px;
    line-height: 28px;
    margin-bottom: 27px;
    padding: 0 0 14px;
    text-transform: uppercase;
    width: 100%;
}
.commentForm textarea{
    height: 100px;
    margin-bottom: 68px;
}
.commentForm input[type='text']::-webkit-input-placeholder ,
.commentForm input[type='email']::-webkit-input-placeholder ,
.commentForm textarea::-webkit-input-placeholder {
    color: #818181;
    opacity: 1;
}
.commentForm input[type='text']:-moz-placeholder,
.commentForm input[type='email']:-moz-placeholde,
.commentForm textarea:-moz-placeholde{
    color: #818181;
    opacity: 1;
}
.commentForm input[type='text']::-moz-placeholder ,
.commentForm input[type='email']::-moz-placeholder,
.commentForm textarea::-moz-placeholder{
    color: #818181;
    opacity: 1;
}
.commentForm input[type='text']:-ms-input-placeholder,
.commentForm input[type='email']:-ms-input-placeholder,
.commentForm textarea:-ms-input-placeholder{
    color: #818181;
    opacity: 1;
}
.wdhContent.bdetail{
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 94px;
}
.workDetailHead.bdetail{
    padding-bottom: 0;
}
.singleBlog .blogThumb img{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.singleBlog .blogThumb{
    overflow: hidden;
}
.singleBlog:hover .blogThumb img{
    transform: scale(1.08) rotate(-2deg);
    -moz-transform: scale(1.08) rotate(-2deg);
    -o-transform: scale(1.08) rotate(-2deg);
    -ms-transform: scale(1.08) rotate(-2deg);
    -webkit-transform: scale(1.08) rotate(-2deg);
}


/*=======================================================================
[20] HOME THREE
=========================================================================*/
.parallaxOne,
.parallaxTwo,
.parallaxThree,
.parallaxFour{
    height: 100vh;
    position: relative;
    width: 100%;
}
.abcontentTP,
.parTwoContent,
.parallaxThreeCon,
.parallaxfirstCon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.bgCover{
    width: 460px;
    height: 640px;
    background: #101010;
}
.parTwoContent {
    background: #101010;
    height: 640px;
    position: absolute;
    width: 460px;
    padding: 112px 50px;
    right: auto;
    left: auto;
}
.parTwoContent h2{
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 46px;
}
.parTwoContent h1{
    font-size: 150px;
    font-weight: 900;
    color: #fff;
    line-height: 150px;
    margin-bottom: 19px;
    position: relative;
    left: -50px;
}
.parTwoContent p{
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 400;
    height: 150px;
}
.chooseUsContent.home_page3{
    padding-top: 215px
}
.chooseUsContent.home_page3 h3,
.chooseUsContent.home_page3 .signatureandname h4{
    color: #fff;
}
.parallaxThreeCon{
    text-align: center;
    padding: 0 220px;
}
.parallaxThreeCon h2,
.parallaxThreeCon h1{
    color: #fff;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0;
}
.parallaxThreeCon h2{
    font-size: 90px;
    line-height: 80px;
    margin-bottom: 5px;
}
.parallaxThreeCon h1{
    font-size: 120px;
    line-height: 110px;
    margin-bottom: 35px;
}
.parallaxThreeCon p{
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}
.parallaxfirstCon{
    text-align: center;
}
.mouseSlider2.home_page3 {
    bottom: 40px;
    margin: auto;
    position: absolute;
    top: auto;
}

.header3{}
.fixednavHeader {
    z-index: 9;
    text-align: right;
    width: 180px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.header3.active .fixednavHeader{
    top: -150px;
}
.fixednavHeader li {
    line-height: 1;
    margin-bottom: 33px;
    position: relative;
    display: inline-block;
}
.fixednavHeader li:last-of-type{
    margin-bottom: 0;
}
.fixednavHeader li:before{
    position: absolute;
    right: 0;
    content: '';
    width: 40px;
    height: 2px;
    display: inline-block;
    background: #fff;
    bottom: -14px;
    opacity: .20;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.fixednavHeader li:hover:before,
.fixednavHeader li.active:before{
    width: 100%;
}
.fixednavHeader li.active a,
.fixednavHeader li:hover a{
    color: #fff;
    opacity: 1;
}
.fixednavHeader li a{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2.8px;
    padding-right: 0;
    padding-right: 46px;
    display: inline-block;
    opacity: .10;
}
.parTwoContent{}
.parTwoContent h1 span{
    color: #fff;
}
.typewrite > .wrap{
    border: none !important;
    position: relative;
}
.typewrite > .wrap:after{
    background: #fff;
    content: "";
    height: 120px;
    left: auto;
    padding-left: 3px;
    position: absolute;
    right: -21px;
    top: 48px;
    width: 10px;
}
.copyright2 {
    background: #171717;
}
.footer2 .widgetTitle,
.footer2 .fooInfo p b{
    color: #fff;
}
.footer2 .newsletter input[type="email"]{
    border-color: #313131
}


